html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/main.css')
  body
    .top
      h4= username
    .left
      if (role === 'admin')
        a(href='register') Register a new user!
        br
        a(href='list') List all registered users
        br
      a(href='scheduler') Scheduler
      br
      a(href='organizer') File organizer
      br
      a(href='editor') Editor
      br
      br

      a(href='logout') Logout