html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .top
      h4= username
    .flex-container
      .left


        a(href='organizer') Organizer
        br
        a(href='editor') Editor
        br
        a(href='createslice') Create Slice
        br
        a(href='scheduler') Scheduler
        br
        a(href='reserve') Reserve Resource
        br
        br
        a(href='uploadkeys') Upload keys
        br
        br
        br
        if (role === 'admin')
          span admin pages
          br
          a(href='register') Register a new user!
          br
          a(href='resource') Resources
          br
        a(href='logout') Logout
      .right
        p steps to take:
        p first go to editor and create your topology
        p then go to createslice to create your slice
        p then go to scheduler to reserve resources
        p finally stitch your resources to your slice