html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title register
  body(onload='setTimeout(function(){window.location="'+url+'";},'+delay+');')
    a(href=url) redirecting momentarily...
    br
    pre= message


