<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>login</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="public/css/main.css">
	</head>
	<body>
		<div class="login-container">
			<form method="post">
				<h2>Log in to your account!</h2>
				<h3>some company name</h3>
				<div class="form-group">
					<label class="sr-only" for="usr">Username</label>
					<input type="text" class="form-control" id="usr" name="username" placeholder="Username" required>
				</div>
				<div class="form-group">
					<label class="sr-only" for="pwd">Password</label>
					<input type="password" class="form-control" id="pwd" name="password" placeholder="Password" required>
				</div>
	 			<button type="submit" class="btn btn-primary">Sign in</button>
			</form>
		</div>
	</body>
</html>