html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title organizer
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fileorganizer.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3-selection/1.1.0/d3-selection.min.js')
    script(src='/javascripts/organizer.js')

  body
    .menubar
      a(href='dashboard') Dashboard 
      a(href='editor') Editor 
      a(href='createslice') Create Slice 
      a(href='scheduler') Scheduler 

    .flex-container
      .section.topologies
        .title topologies
        .subtitle To download a topology, right click the link of the file you wish to download and click "Save link as..."
        .list
          if (topologies)
            each val in topologies
              div
                button.btn.btn-default.btn-sm.custom-button(type='button' title='delete' onclick='topoVerifyDelete("'+val.toponame+'","'+val.location+'")')
                  span.glyphicon.glyphicon-trash
                button.btn.btn-default.btn-sm.custom-button(type='button' title='go to editor' onclick='location.href="editor/'+val.location+'"')
                  span.glyphicon.glyphicon-chevron-right
                a(href='api/topo/'+val.location)= val.toponame
                //- span.glyphicon.glyphicon-pencil
                  title rename
        form.after(method='post', enctype='multipart/form-data')
          | Topology upload: 
          input#fileToUpload(type='file', name='fileToUpload')
          |  
          input(type='submit', value='Upload Topology', name='submit')
      .section.slices
        .top.activeslices
          .title active slices  
          .list#activeslicelist
        .bottom.delayedslices
          .title delayed slices
          .list#delayedslicelist

      .section.reservations
        .title reservations
        .list#resourcelist
          if (reservations)
            each val in reservations
              div
                a(href='api/topo/'+val.Id)= val.Id
                span= val.start       
