doctype html
html
  head
    title reserve
    script(src='https://d3js.org/d3.v5.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/reserve.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .flex-container
      .left
        .btn-group.btn-group-sm#withDropdown

          button.btn.btn-default(type='button' onclick='listAttachments()' data-toggle='dropdown') load topology
          ul.dropdown-menu(role='menu')

        form(method='post', action='/api/reserve/'+topoloc, enctype='multipart/form-data')
          span Upload your ssl certificate and public ssh key
          br
          br
          span SSL certificate given by GENI certificate manager
          input(type='file', name='sslcert', required)
          br
          br
          span SSH public key
          input(type='file', name='sshpub', required)
          br
          br
          input#reservebutton(type='submit', value='Make slice!', name='submit')
      .right

        if topology
          script.
           // var topology = JSON.parse( !{JSON.stringify(topology).replace(/<\//g, "<\\/")} );

          h4= JSON.stringify(topology).replace(/<\//g, "<\\/")

if topology
  script.
    var topology = JSON.parse( !{JSON.stringify(topology).replace(/<\//g, "<\\/")} );

script.
  function listAttachments() {
    var drop = d3.select("#withDropdown");
    // if it is already open, then destroy the dropdown list
    if (drop.classed("open")) { 
      drop.select(".dropdown-menu").html(null);
    } else { // if dropdown is not open, then get the list of attachments and show it
      //$('#flashmessage').text("loading...").show(0);
      $.get("/api/listtopologies", function(result) {
        drop.select(".dropdown-menu").selectAll("li").data(result)
          .enter().append("li").append("a")
            .attr("href", function(d) { return "/reserve/" + d.location; })
            .attr("tabindex", "-1")
            .text(function(d) { return d.toponame; });
        //$('#flashmessage').text("loaded").hide(0);
      });
    }
  }