html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title schedule
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.css')
    //- the following is for datetime picker
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css')

    link(rel='stylesheet', href='/stylesheets/scheduler.css')

    script(src='/javascripts/scheduler.js')
    script.

  body(style='height:100%')
    .flex-container
      .left
        a(href='/dashboard') Dashboard
        br
        br
        span Filter
        .form-group
          span timestart
          .input-group.date#dtpstart
            input.form-control(type='text' class='form-control')
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
        .form-group
          span timeend
          .input-group.date#dtpend
            input.form-control(type='text' class='form-control')
            span.input-group-addon
              span.glyphicon.glyphicon-calendar

        button apply as filter
        input#duration(type='button' value='duration')

        button clear all resources
        .lisel add resourcce (arrow)
        button restore all resources
        br
        br
        #withDropdown
          button.btn.btn-default(type='button' onclick='listActiveSlices()' data-toggle='dropdown') select active slice 
            span.caret
          ul.dropdown-menu(role='menu')
        br
        div selected resources:
        ul.list-group
        button#checkout checkout selected resources


      .right
        #calendar
