doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .form
      form#ssl(method='post', enctype='multipart/form-data')
        span upload your ssl certificate (available only for this session)
        input#sslcert(type='file', name='ssl', required)
        input#sslsubmitbutton(type='submit', value='upload', name='submit')
