html, body {
	height: 100%;
}

.flex-container {
	display: flex;
	height: 100%;
}

.left {
	order: 2;
	flex: 1;
	padding: 15px;
	border-right: 1px solid black;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

.right {
	order: 3;
	flex: 2;
	padding: 15px;
	border-left: 1px solid black;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

