html, body {
	height: 100%;
}


.top {
	height: 50px;
	padding: 10px;
	background-color: lightblue;
}

.flex-container {
	display: flex;
	height: calc(100% - 50px);
}

.section {
	height: 100%;
	flex: 1;
	padding: 15px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.topologies {
	order: 1;
	padding: 15px;
	border-right: 1px solid black;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

.activeslices {
	order: 2;
	padding: 15px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

.reservations {
	order: 3;
	padding: 15px;
	border-left: 1px solid black;	
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.title {
	order: 1;
/*	flex: 10% auto;
*/	
	margin-bottom: 0px;
	font-size: 1.5em;
	font-weight: bold;

  	text-align: justify;
  	-moz-text-align-last: center;
    text-align-last: center;
}

.subtitle {
	order: 2;

	font-size: 0.8em;

	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

.list {
	order: 3;
}

.after {
	order: 4;
}

.custom-button {
	padding: 0px;
	margin: 5px;
}

span.glyphicon {
	margin: 5px;
}

/*span.glyphicon-pencil {
	cursor: pointer;
}*/