html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body.centerpls {
	/* this with "margin: auto" aligns the
	container both horizonatally and vertically*/
	display: flex; 
}

.top {
	height: 60px;
	padding: 10px;
	background-color: lightblue;
}

.left {
	width: 20%;
	float: left;
	padding: 10px;

	height: 100%;
	position: relative;
}

.login-container {

	position: relative;
	padding: 1.5rem;


	border: solid #f7f7f9;
	border-width: .2rem;

	min-width: 20rem;
	max-width: 34rem;

	margin: auto;
}

button {
	/* no idea how to put button on right side
	float: right;
	*/
}

.tregist {
	float: right;
}

.addBtn {
  position: absolute;
  right: 20px;
  top: 0px;
  background: none;
  border: none;
  cursor: pointer;
}