.left {
	width: 20%;
	float: left;
	padding: 10px;

	height: 100%;
	position: relative;
}

.right {
	width: 80%;
	float: right;
	padding: 10px;

	height: 100%;
}

button#help {
	position: relative;
	float: right;
}

textarea {
	width: 100%;
	height: 250px;

	max-width: 100%;
	max-height: 100%;
}

/* The following marks all the SVG graph stuff */

svg#editor {
	user-select: none;
	cursor: default;
}

#svgfocus {
	width: 100%;
	height: 100%;
	position: relative;
	outline: none;
}

#nodes {
	cursor: pointer;
	background-color: white;
	opacity: 1;
}

#nodes path {
	stroke: white;
	stroke-width: 1px;
}

	#nodes .optionsopen {
		stroke: lightskyblue;
		stroke-width: 2.5;
	}

	#nodes .selected {
		stroke: orange;
		stroke-width: 2.5;
	}

	#nodes .selectedforlink {
		stroke: orange;
		stroke-width: 2.5;

		stroke-dasharray: 5,2;	

		animation: dashspin 15s infinite linear;
		-webkit-animation: dashspin 15s infinite linear;
	}

		@keyframes dashspin {
			0% { stroke-dashoffset: 0%; }
			100% { stroke-dashoffset: 25%; }
		}

		@-webkit-keyframes dashspin {
			0% { stroke-dashoffset: 0%; }
			100% { stroke-dashoffset: 25%; }
		}

#links line {
	stroke: #777;
	stroke-width: 5px;
}

	#links line.selected {
		stroke: orange;
	}

.toolbox-box {
	fill: lightgrey;
}

.toolbox-button:hover .toolbox-box {
	fill: grey;
}

#forms foreignObject {
	border: none;
/*	background-color: white;
*/}

	.close-custom { /* copied from bootstrap's */
		-webkit-appearance: none;
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;

		float: right;
		font-size: 21px;
		font-weight: bold;
		line-height: 1;
		color: #CCC;
		text-shadow: 0 1px 0 #fff;

	/*				filter: alpha(opacity=20); 
		opacity: 0.2;*/             /* for some reason this doesn't work for me */ 
	}

	.close-custom:hover, .close-custom:focus {
		color: #7F7F7F;
		text-decoration: none;
		cursor: pointer;
	}

	div.panel-default {
		border-radius: 4px;
		border: 1px solid lightgrey;
		background-color: inherit;

	}

	span.panel-title {
		display: inline-block;
		text-overflow: ellipsis;
		max-width: 95%;
		white-space: nowrap;

		overflow: hidden;
	}

	div.panel-body {
		height: 178px;
		overflow-y: auto;
	}

	div.panel-footer {
		background-color: inherit;
	}

	option {
		font-size: 16px;
	}

