textarea {
	width: 100%;
	height: 100px;
}

svg {
	user-select: none;
	cursor: default;
}

#svgfocus {
	position: absolute;
	left: 10%;

}

#nodes {
	cursor: pointer;
}

#nodes path {
	stroke: white;
	stroke-width: 1px;
}

	#nodes .optionsopen {
		stroke: lightblue;
		stroke-width: 2.5;
	}

	#nodes .selected {
		stroke: orange;
		stroke-width: 2.5;
	}

	#nodes .selectedforlink {
		stroke: orange;
		stroke-width: 2.5;

		stroke-dasharray: 5,2;	

		animation: dashspin 15s infinite linear;
		-webkit-animation: dashspin 15s infinite linear;
	}

		@keyframes dashspin {
			0% { stroke-dashoffset: 0%; }
			100% { stroke-dashoffset: 25%; }
		}

		@-webkit-keyframes dashspin {
			0% { stroke-dashoffset: 0%; }
			100% { stroke-dashoffset: 25%; }
		}

#links line {
	stroke: #777;
	stroke-width: 5px;
}

	#links line.selected {
		stroke: orange;
	}

#forms foreignObject {
	width: 300px;
	height: 250px;
	border: 1px solid lightgrey;
/*				background-color: #F1F1F1; */
}

	.close-custom { /* copied from bootstrap's */
		-webkit-appearance: none;
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;

		float: right;
		font-size: 21px;
		font-weight: bold;
		line-height: 1;
		color: #CCC;
		text-shadow: 0 1px 0 #fff;

	/*				filter: alpha(opacity=20); 
		opacity: 0.2;*/             /* for some reason this doesn't work for me */ 
	}

	.close-custom:hover, .close-custom:focus {
		color: #7F7F7F;
		text-decoration: none;
		cursor: pointer;
	}

	option {
		font-size: 16px;
	}

.toolbox-box {
	fill: lightgrey;
}

.toolbox-button:hover .toolbox-box {
	fill: grey;
}
